<div class="navbar navbar-expand-lg bg-secondary  navbar-fixed-top" role="navigation" id="mainNav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle bg-primary text-white rounded" data-toggle="collapse" data-target=".navbar-collapse" (click)="toggleNav()">
        Menu
        <span i18n="Toggle Text@@tText" class="sr-only">Toggle navigation</span>
      </button>
      <a i18n="Car Booking Head@introHeader" class="navbar-brand text-uppercase">Car Booking</a>
    </div>
    <div  class="navbar-collapse" [ngClass]="{collapse : !isCollapsed }">
      <ul class="nav navbar-nav navbar-right">
        <li i18n="Available Cars@@Link1" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Availble Cars</a></li>
        <!--<li i18n="Book @@Link2" routerLinkActive="active"><a routerLink="/Book">Book</a></li>-->
        <li i18n="My Bookings@@Link3" routerLinkActive="active"><a [routerLink]="['/Bookings']">My Bookings</a></li>
      </ul>
    </div>
  </div>
</div>
<br/><br/><br/><br/>
